@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color:white;
    background-color:black;
    font-size: 62.5%;
    font-size: 10px;
overflow-x: hidden;
}
html{

    scroll-behavior: smooth;
}
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}


.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 95px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    padding-top: 10px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
 
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */



.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height:85px;
}
.first a{
    text-decoration: none;
    color:white;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}
    .home {
        width: 100%;
        height: 100vh;
        background: linear-gradient(26deg, #43c6ac, #191654);
        background-size: 400% 400%;
        
        -webkit-animation: AnimationName 12s ease infinite;
        -moz-animation: AnimationName 12s ease infinite;
        -o-animation: AnimationName 12s ease infinite;
        animation: AnimationName 12s ease infinite;}
        
        @-webkit-keyframes AnimationName {
            0%{background-position:0% 96%}
            50%{background-position:100% 5%}
            100%{background-position:0% 96%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 96%}
            50%{background-position:100% 5%}
            100%{background-position:0% 96%}
        }
        @-o-keyframes AnimationName {
            0%{background-position:0% 96%}
            50%{background-position:100% 5%}
            100%{background-position:0% 96%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 96%}
            50%{background-position:100% 5%}
            100%{background-position:0% 96%}
        }
.grid{
    display: grid;
    grid-template-columns:repeat(8,1fr);
    text-align: center;

}
   .hi{
            color: white;
            font-size: 30px;
            text-align: center;
          text-align: justify;
            margin:0;
            padding-top: 230px;
            padding-left: 100px;
        }
        .whatido{
            padding-top: 230px;
            color: white;
            padding-top: 20px;
            font-size: 20px;
            padding-left: 100px;
            text-align: justify;
            padding-bottom: 150px;
        }
        .home a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            float: left;
          margin-left: 110px;
        }
        .home a:hover{
            text-decoration: underline;
            
        }

        #text a{
            color: white;
        }
#text{

    margin-left: -70px;
   width:1000%;
}
#text a{
    color: white;
}
#creative{
    background-color:#f7f8f2;
    font-size: 25px;
    color: black;
    height: 400px;
}
.leftside{
    grid-column: 2/4;
    margin-left: 30px;
    margin-top: 50px;
}
#creative img{
    margin-top: 50px;
    width:450px;
    height: 300px;
    grid-column: 6/8;
}
#creative a{
    color:white;
    text-decoration: none;
    border: 1px solid black;

    border-radius:10px;
    font-size: 20px;
    text-align: center;
    background: #191654;
    width:150px;
    padding:10px 15px;

    
  
}
#creative p,#creative h4{
    margin-bottom: 50px;
    text-align: center;
}

#services{
    background-color:white;
    color: black;
    font-size: 23px;
    margin-top: -33px;
    padding-left:30px;
    padding-bottom: 50px;
    
}
#services h4{
    padding-top: 50px;
}
#responsibility{
    font-weight: 800;
}
#allservices{
    text-align: justify;
}

.title{

    text-align: center;
}
.item1{
    grid-column: 1/4;
}
.item2{
    grid-column: 6/9;
    margin-right: 50px;
}
#noidea{
    background-color:#43c6ac;
    color: white;
    font-size: 30px;
}
#noidea img{
    height: 450px;
    width:400px;
   margin: 50px;
}
.itemm2{
    grid-column: 4/8;
    text-align: justify;
}

#sm ul {
    display: flex;
margin:0 auto;
padding-top:200px;

    transform: translate(-50%, -50%);
  }
  
  #sm ul li {
    list-style: none;
  }
  
   #sm ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  #sm ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
   #sm ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
   #sm ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
   #sm ul li a:hover:before {
    top: 0;
  }
  
  #sm ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
   #sm ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
   #sm ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  #sm ul li:nth-child(4) a:before {
 background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  }
.lastsection{

}
#left{
    background: url(images/setup.jpeg);
    grid-column: 1/5;
}
#right{
    background: url(images/insights.jpeg);
    grid-column: 5/9;
}
#left,#right{
    background-size:cover;
    height: 500px;
    font-size: 50px;
    
}
#left a,#right a{
    text-decoration: none;
    color: white;
   
}
#right:hover  , #left:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;;
}

 a.middle
{
    position: relative;
    color: #fff;
    text-decoration: none;
 top:230px;     
}

 a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;

  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

footer{
    height:50vh;
    font-size: 20px;
}
footer h1{
    font-size: 35px;

}
footer p{
    font-size: 18px;
}
footer p, footer h1{
    margin-left: 30px;
}
#email{
    grid-column: 1/3;
    margin-left: 28px;
}
#telephone{
    grid-column: 4/6;
}
#location{
    grid-column: 7/9;
    
}
.links{
    margin-top: 50px;
}
.links a{
    
    color: white;
    text-decoration: none;;
}
@media(min-width:400px){
#learn{
margin-top: -70px;
}
.hi,.whatido{
width:310px;
font-size: 18px;
}
.home{
    height: 105vh;
    font-size: 20px;
}
#creative{
    height: 800px;
}
#creative img{
    grid-column: 1/9;
    height:300px;
    width:530px;
    grid-row: 1;
    margin-top: 0;
}
.leftside{
    grid-row: 2;
    grid-column: 1/9;
    margin-top: 0;
}
.item2,.item1{
    grid-column: 1/9;
}
.item1{
    margin-right: 30px;
}
#noidea img{
    grid-column: 1/9;
    margin:0;
    width:0px
}
.itemm1{

}
.itemm2{
    grid-row: 2;
    grid-column: 1/9;
    font-size: 15px;
    margin:0 30px;
}
#left,#right{
    grid-column: 1/9;
}
#telephone,#email,#location{
    grid-column: 1/9;
}
#sm ul{
    margin:0 80px;
}
}
@media(min-width:320px){
    #learn{
    margin-top: -70px;
    }
    .hi,.whatido{
    width:250px;
    font-size: 15px;
    }
    .home{
        height: 105vh;
        font-size: 20px;
    }
    #creative{
        height: 800px;
    }
    #creative img{
        grid-column: 1/9;
        height:300px;
        width:420px;
        grid-row: 1;
        margin-top: 0;
    }
    .leftside{
        grid-row: 2;
        grid-column: 1/9;
        margin-top: -100px;
        margin-right: 30px;
    }
    .item2,.item1{
        grid-column: 1/9;
    }
    .item1{
        margin-right: 30px;
    }
    #noidea img{
        grid-column: 1/9;
        margin:0;
        width:420px
    }
 
    .itemm2{
        grid-row: 2;
        grid-column: 1/9;
        font-size: 13px;
        text-align: center;
        
    }
    .itemm2 p{
        width:280px;
        margin-left: 40px;
        text-align: justify;
        font-size: 18px;
       
    }
    #sm ul{
    position: relative;
    left: 10px;
    }
    #left,#right{
        grid-column: 1/9;
    }
    #telephone,#email,#location{
        grid-column: 1/9;
        font-size: 0.9em;
    }
    footer h1{
        font-size: 20px;
    }
    footer p{
        font-size: 13px;
    }
    #sm ul{
        margin:0 80px;
    }
    }








    /* Tablets and small laptops */
    @media (min-width:620px){
.hi{
    font-size: 18px;
}
.whatido{
    font-size: 15px;
}
.leftside{
    margin-left: 40px;
    grid-column: 1/4;
    font-size: 20px;
    grid-row: 1;
    margin-top: 50px;
}
#creative{
    height: auto;
}
#creative img{
    grid-column: 5/8;
    width:280px;
    height: 250px;
    padding-bottom: 60px;
    margin-top: 80px;
}
.item1{
    margin-right: 30px;
}
.item1,.item2{
    grid-column: 1/9;
}
#responsibility{
    font-size: 20px;
}
#noidea img{
        width:400px;
        height: 500px;
   padding-top:50px;
}
#sm ul{
    display: flex;
    margin-left: 320px;
}
.itemm1{
    grid-column: 1/9;
}
.itemm2{
    grid-column: 1/9;
    grid-row: 2;
    font-size: 20px;
}
#noidea h3{
text-align: center;
}
#noidea p{
    margin:30px;
}


#left{
    grid-column: 1/9;
}
#right{
    grid-column: 1/9;
}
footer h1{
font-size: 25px;
}
footer p{
    margin-right: 30px;
}
#email,#telephone,#location{
    grid-column: 1/9;
}
    }

    /*  Large tablets and laptop screens */
@media (min-width:920px) and (max-width:1100px){
    .hi{
        font-size: 20px;
    }
    .whatido{
        font-size: 16px;
    }
    
    .leftside{
        margin-left: 40px;
        grid-column: 1/4;
        font-size: 20px;
    }
    #creative img{
        grid-column: 7;
        width:300px;
        height: 200px;
        margin-top: 80px;
    }
    .item1{
        margin-right: 30px;
    }
    .item1,.item2{
        grid-column: 1/9;
    }
#noidea h3{
    font-size: 32px;
}
    #noidea p{
        font-size: 18px;
        
    }
    #noidea img{
        height: 400px;
        width:350px;
        margin-top: 150px;
    }
    .par{
        text-align: center;
    }
    
    #sm ul{
       float: right;
       margin:0 130px;
    }
    .itemm2{
        margin-top: 100px;
  
    }

.links a{
    font-size: 12px;
    
}
footer h1{
    font-size: 25px;
}
footer p{
    font-size: 18px;
    width:48%;
}
}


    /*  Desktop Screens */ 
   @media screen and (min-width:1100px){
    .hi,.whatido{
        width:100%;
    }   
    .hi{
           font-size:30px
       }
       .whatido{
           font-size: 25px;
       }
       .leftside{
        grid-column: 2/4;
        margin-left: 30px;
        margin-top: 50px;
    }
    #creative img{
        margin-top: 50px;
        width:450px;
        height: 300px;
        grid-column: 6/8;
    }
    #creative a{
        color:white;
        text-decoration: none;
        border: 1px solid black;
    
        border-radius:10px;
        font-size: 20px;
        text-align: center;
        background: #191654;
        width:150px;
        padding:10px 15px;
    
        
      
    }
    #creative p,#creative h4{
        margin-bottom: 50px;
        text-align: center;
    }
    .item1{
        grid-column: 1/4;
    }
    .item2{
        grid-column: 5/9;
    }
    #responsibility{
        font-size: 24px;
    }
    #noidea img{
        height: 450px;
        width:400px;
       margin-left: 30px;
       padding-bottom: 40px;
    }
    .itemm1{
        grid-column: 1/3;
    }
    .itemm2{
        grid-column: 5/9;
        text-align: justify;
        grid-row: 1;
      
    }
    .itemm2{
        font-size: 25px;
    }
    .itemm2 p{
     font-size: 25px;
     width:90%;
     padding-top: 50px;
    }
    #left{
   
        grid-column: 1/5;
    }
    #right{
       
        grid-column: 5/9;
    }
    footer{
        height:50vh;
        font-size: 20px;
    }
    footer h1{
        font-size: 35px;
    
    }
    footer p{
        font-size: 18px;
    }
    footer p, footer h1{
        margin-left: 30px;
    }
    #email{
        grid-column: 1/3;
        margin-left: 28px;
    }
    #telephone{
        grid-column: 4/6;
    }
    #location{
        grid-column: 7/9;
        
    }
   }
     
     
    